 /*detta gör så att allt står på rad längst upp på sidan*/
 .titel{
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-right: 40px;
    padding-top: 1px;

} 

/*design till tabbarna*/
.tabs a {
  
  padding-right: 5px;
  text-decoration: none;
  color: black;
}




.titel h1{
  font-size: 40px;
  font-family:Brush Script MT ;
  padding-left: 15px;
}

/* Denna är till för textrutan */
.intro{
  text-align: center;
  border-radius: 10px;
  background-color: #4bcb54;
  padding: 5px;  
  width: 40%;
  margin: auto;
}
/*detta gör bakgrundsfärgen grön till hemsidan*/
body{
   background-color: #b3ffb3;
    
}

/*detta är till för sök funktionen som ändrar designen till rundare format och ger sök knappen en grönfärg*/
 .search-box input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-align: left;
  padding-left: 10px;
  padding-right: 5px;
  width: 400px;
  
 }
 .search-box button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
  }

  /*design till add plant rutan*/
  .add-plant {

    border-radius: 10px;
    background-color: #5def67;
    padding: 5px;  
    width: 40%;
    
    height:auto

    
  }
  /* design till tabellen */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #f8f9fa;
    color: #212529;
    font-size: 14px;
  }
  
  th, td {
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: #343a40;
    color: #fff;
    text-transform: uppercase;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e2e6ea;
  }


  
  
  
  
  
  
  
